body {
  font-family: var(--font-principal);
  padding: 0 0 0;
}

.main-content__header {
  width: 100%;
  height: 100vh;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: var(--color-title);
  background-image: url("../assets/imagens/casa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__content .header__content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.header__content .header__content-header .header__content-title {
  padding: 0 0 10px 85px;
  font-size: 100px;
  font-weight: 600;
}

.header__content .header__content-header .header__content-subtitle {
  padding: 0 0 5px 85px;
}

.header__content .header__content-header .header__content-subtitle2 {
  padding: 0 0 0 85px;
}

.header__content .header__content-btn {
  display: flex;
  align-items: center;
  padding: 0 0 0 85px;
  height: 20%;
}

.header__content .header__content-button {
  background-color: #fff;
  font-size: 1rem;
  border-color: transparent;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
}

.body__content .body__content-valores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  padding: 20px 0;
  border-bottom: var(--border-default);
}

.body__content .body__content-valores .valor__card1,
.body__content .body__content-valores .valor__card2,
.body__content .body__content-valores .valor__card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 30%;
  height: 50%;
}

.body__content .body__content-valores .valor__card1 {
  padding: 0 0 0 40px;
}

.body__content .body__content-valores .valor__card3 {
  padding: 0 10px 0 0;
}

.body__content .body__content-valores .valor__card1 .title,
.body__content .body__content-valores .valor__card2 .title,
.body__content .body__content-valores .valor__card3 .title {
  font-size: 0.75rem;
}

.body__content .body__content-valores .valor__card1 .subtitle,
.body__content .body__content-valores .valor__card2 .subtitle,
.body__content .body__content-valores .valor__card3 .subtitle {
  font-size: 1.2rem;
  font-weight: 550;
}

.body__content .body__content-valores .valor__card1 .text,
.body__content .body__content-valores .valor__card2 .text,
.body__content .body__content-valores .valor__card3 .text {
  font-size: 0.9rem;
  color: #505050;
}
