/* 
  TOPBAR
*/
nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 20px 40px 10px 40px;
  font-family: var(--font-principal);
  font-size: 14px;
  color: var(--color-title);
  border-bottom: var(--border-default);
}

#navegation {
  transition: background-color 0.3s;
}

.navegation__top {
  display: flex;
  justify-content: space-between;
}

.navegation__top .navegation__top__name {
  font-weight: 600;
}

.navegation__bot {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.navegation__bot .navegation__bot__menus ul {
  display: flex;
}

.navegation__bot .navegation__bot__menus ul li {
  padding-right: 15px;
}

.navegation__bot .navegation__bot__menus ul li a {
  text-decoration: none;
  color: var(--color-title);
}

.scrolled {
  background-color: #fff;
  color: #000;
}

.scrolled .navegation__bot .navegation__bot__menus ul li a {
  text-decoration: none;
  color: #000;
}

/* 
  FOOTER
*/
footer {
  background-color: transparent;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 20px 40px;
  border-top: var(--border-default);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  color: var(--color-text);
  font-family: var(--font-principal);
  font-size: 16px;
}

.footer__content .footer__content__left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

.footer__content .footer__content__left .footer__content__left-text {
  padding-bottom: 20px;
}

.footer__content .footer__content__center {
  text-align: center;
  height: 100%;
  width: 30%;
}

.footer__content .footer__content__center ul li {
  padding-bottom: 10px;
}

.footer__content .footer__content__center ul li a {
  text-decoration: none;
  color: var(--color-text);
}

.footer__content .footer__content__right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  align-items: flex-end;
}

.footer__content .footer__content__right .footer__content__right-text {
  align-self: flex-end;
  padding-bottom: 10px;
}

.footer__content .footer__content__right .footer__content__right-email {
  font-size: 22px;
  font-weight: 300;
}
