:root {
  /* FONTS */
  --font-principal: "DM Sans", sans-serif;

  /* COLORS */
  --color-title: #fff;
  --color-text: #000;
  --color-lines: rgba(179, 179, 179, 0.7);

  /* BORDER */
  --border-default: 2px solid var(--color-lines);
}
